.player-footer {
  background-color: #1c2026;
  height: 100px;
  width: 100%;
}

.player-side {
  width: 25%;
}

.player-ui {
  width: 50%;
}

.player-button {
  border:none;
  width: 28px;
  padding: 5px 0px;
  text-align: center;
  border-radius: 4px;
  background-color: #1c2026;
  color: white;
}

.player-button:hover {
  color: #777;
  transition: 0.4s;
}

.play-pause-button {
  width: 42px;
}

.progress-container {
    background-color: gainsboro;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: teal;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.player-track-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.player-cover-art {
  padding: 10px;
}

div.player-cover-art img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

.player-track-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-small-caps {
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 900;
  line-height: 12px;
}

.player-side-controls {
  display: flex;
  justify-content: flex-end;
}

input[type=range]::-webkit-slider-runnable-track {
  color: #fff;
}

.fas {
  font-size: 16px;
}

.step {
  font-size: 20px;
}

.fa-play {
  font-size: 28px;
}

.fa-pause {
  font-size: 32px;
}

.volume-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume-slider {
  padding: 0px 20px;
  display: flex;
}

.fa-volume-up {
  font-size: 14px;
}

input[type='range'] {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: #444;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 7px;
  -webkit-appearance: none;
  color: #fff;
  margin-top: -1px;
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
  background: #fff;
  box-shadow: -80px 0 0 80px #a1a1a1;
}
// input[type="range"]::-moz-range-progress {
//   background-color: #a1a1a1; 
// }
// input[type="range"]::-moz-range-track {  
//   background-color: #444;
// }
// input[type="range"]::-ms-fill-lower {
//   background-color: #a1a1a1; 
// }
// input[type="range"]::-ms-fill-upper {  
//   background-color: #444;
// }