.player-footer {
  background-color: #1c2026;
  height: 100px;
  width: 100%;
}

.player-side {
  width: 25%;
}

.player-ui {
  width: 50%;
}

.player-button {
  border:none;
  width: 28px;
  padding: 5px 0px;
  text-align: center;
  border-radius: 4px;
  background-color: #1c2026;
  color: white;
}

.player-button:hover {
  color: #777;
  transition: 0.4s;
}

.play-pause-button {
  width: 42px;
}

.player-track-info {
  display: flex;
  justify-content: flex-start;
}

.player-side-controls {
  display: flex;
  justify-content: flex-end;
}

.fas {
  font-size: 16px;
  // padding: 0px 10px;
}

.step {
  font-size: 20px;
}

.fa-play, .fa-pause {
  font-size: 28px;
}